* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Atkinson Hyperlegible", sans-serif;
  color: #fff;
  background: url("images/bg2.png") center/cover no-repeat;
  position: relative;
  overflow: hidden;
}

body {
  font-family: "Atkinson Hyperlegible", sans-serif;
  color: #ffffff;

  background: url(images/bg2.png) center/cover no-repeat;
  background-color: #000000;

  position: relative;
  overflow: hidden;
}

body.styles,
body.gallery {
  background: url("images/bg2.png") center/cover no-repeat;
  background-color: #000000;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 28px 48px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 30px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
}

.page-title {
  position: absolute;
  left: 48px;
  top: calc(28px + 30px + 31px);
  font-size: 45px;
  font-weight: 700;
}

.gallery-layout {
  position: absolute;
  top: 200px;
  left: 48px;
  right: 48px;

  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 47px;
  align-items: start;
}

.images-grid {
  display: grid;
  grid-template-columns: repeat(3, 170px);
  grid-auto-rows: 170px;
  gap: 47px;
}

.images-grid img {
  width: 170px;
  height: 170px;
  object-fit: cover;
  display: block;
}

.task-box {
  background: rgba(255, 255, 255, 0.5);
  padding: 28px 32px;
  min-height: 420px;
  width: 560px;
  position: relative;
}

.task-title {
  font-size: 30px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 18px;
}

.task-subtitle {
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 22px;
}

.answers {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 20px;
  color: #ffffff;
  margin-top: 6px;
}

.task-btn {
  position: absolute;
  left: 32px;
  bottom: 28px;

  background: transparent;
  border: none;

  font-size: 25px;
  font-weight: 700;
  color: #ffffff;

  cursor: pointer;
}
