* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Atkinson Hyperlegible", sans-serif;
  color: #fff;
  background: url("images/bg.png") center/cover no-repeat;
  position: relative;
  overflow: hidden;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 28px 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
}

.nav {
  display: flex;
  align-items: center;
  gap: 78px;
}

.nav a {
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  white-space: nowrap;
  opacity: 0.95;
  transition: opacity 0.2s ease;
}

.nav a:hover {
  opacity: 1;
  text-decoration: underline;
  text-underline-offset: 6px;
}

.hero {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  justify-content: center;
  transform: translateY(-30px);
  text-align: center;
}

.hero-title {
  font-size: 57px;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 19px;
}

.hero-subtitle {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 28px;
}

.btn-main {
  padding: 15px 40px;
  background: rgba(255,255,255,0.8);
  border-radius: 6px;
  color: black;
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 50px;
}

.sub-btn {
  display: flex;
  gap 25px;
}

.sub-btn {
  padding: 18px 50px;
  background: rgba(255,255,255,0.3)
  border-radius: 6px;
  text-decoration: none;
  color: white;
  font-size: 22px;
  backdrop-filter: blur(4px);
  border: 1px solid rgba(255,255,255,0.4)
}
